<script>
  // Material Select Initialization
  $(document).ready(function () {
    $('.mdb-select').materialSelect();
  });
</script>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentLabel">Dodaj studenta:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="nameInputField">Imię</label>
                  <input type="text" class="form-control" id="nameInputField" placeholder="Imię"
                         [(ngModel)]="student.name" name="nameInputField">
                  <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
              <div class="col-sm">

                <div class="form-group">
                  <label for="surnameInputField">Nazwisko</label>
                  <input type="text" class="form-control" id="surnameInputField" name="surnameInputField"
                         placeholder="Nazwisko" [(ngModel)]="student.surname">
                  <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
            </div>
            <!--            =====================================================================================-->
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="fatherNameInputField">Imię ojca</label>
                  <input type="text" class="form-control" id="fatherNameInputField" name="fatherNameInputField"
                         placeholder="Imię ojca" [(ngModel)]="student.fatherName">
                  <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="placeOfBirthInputField">Miejsce urodzenia</label>
                  <input type="text" class="form-control" id="placeOfBirthInputField" name="placeOfBirthInputField"
                         placeholder="Miejsce urodzenia" [(ngModel)]="student.placeOfBirth">
                  <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
            </div>
            <!--            =====================================================================================-->
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="countryOfBirthInputField">Kraj urodzenia</label>
                  <input type="text" class="form-control" id="countryOfBirthInputField" name="countryOfBirthInputField"
                         placeholder="Kraj urodzenia" [(ngModel)]="student.countryOfBirth">
                  <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="nationalityInputField">Obywatelstwo</label>
                  <input type="text" class="form-control" id="nationalityInputField" name="nationalityInputField"
                         placeholder="Obywatelstwo" [(ngModel)]="student.nationality">
                </div>
              </div>
            </div>
            <!--            =====================================================================================-->
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="nationalityOfBirthInputField">Obywatelstwo przy urodzeniu</label>
                  <input type="text" class="form-control" id="nationalityOfBirthInputField"
                         name="nationalityOfBirthInputField"
                         aria-describedby="nationalityOfBirthHelp" placeholder="Obywatelstwo"
                         [(ngModel)]="student.nationalityOfBirth">
                  <small id="nationalityOfBirthHelp" class="form-text text-muted">Wypełnij, jeśli obywatelstwo przy
                    urodzeniu
                    różni się od obecnego</small>
                </div>
              </div>
            </div>
            <!--            =====================================================================================-->

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="emailInputFiled">Email</label>
                  <input type="email" class="form-control" id="emailInputFiled"
                         name="emailInputFiled" placeholder="name@google.com"
                         [(ngModel)]="student.email">

                </div>
              </div>
            </div>
            <!--            =====================================================================================-->
            <div class="row">


              <div class="col-sm">
                <div class="form-group">
                  <select class="selectpicker" data-live-search="true" >
                     <option selected="selected" [ngValue]="0">Adres zameldowania</option>
                      <option *ngFor="let record of allAddresses" [ngValue]="record.id"
                              name="addressOfResidenceOption">{{record.country}}/

                        {{record.city}}/{{record.code}}
                        /{{record.street}} {{record.houseNumber}} {{record.flatNumber}}</option>

                   </select>
                </div>
              </div>

            </div>
            <!--            =====================================================================================-->
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <select class="selectpicker" data-live-search="true" >
                    <option selected="selected" [ngValue]="0">Adres zamieszkania</option>
                    <option *ngFor="let record of allAddresses" [ngValue]="record.id"
                            name="actualAddressOption">{{record.country}}/
                      {{record.city}}/{{record.code}}
                      /{{record.street}} {{record.houseNumber}} {{record.flatNumber}}</option>

                  </select>
                </div>


              </div>

            </div>
            <div class="row">
              <div class="col-sm">


                <div class="form-group">
                  <select class="selectpicker" data-live-search="true" >
                    <option selected="selected" [ngValue]="0">Typ studenta</option>
                    <option *ngFor="let record of studentTypeList" [ngValue]="record.id"
                            name="studentTypeOption">{{record.description}}</option>
                  </select>
                </div>


              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <select class="selectpicker" data-live-search="true" >
                    <option selected="selected" [ngValue]="0">Typ Zamieszkania</option>
                    <option *ngFor="let record of addressTypeList" [ngValue]="record.id"
                            name="addressTypeOption">{{record.description}}</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="alert alert-primary" role="alert" *ngIf="!studentEntityReadyToSend()">
                  Wypełnij wszystkie pola
                </div>
              </div>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary" *ngIf="studentEntityReadyToSend() && !this.edit" (click)="addNewStudent()" data-dismiss="modal">Dodaj studenta
        </button>
        <button type="button" class="btn btn-primary" *ngIf="!studentEntityReadyToSend() && !this.edit"
                disabled>Dodaj studenta
        </button>
<!--        EDIT Buttons =============================-->
        <button type="button" class="btn btn-primary" *ngIf="this.edit && studentEntityReadyToSend()" (click)="editStudent()" data-dismiss="modal">Zapisz
        </button>
        <button type="button" class="btn btn-primary" *ngIf="this.edit && !studentEntityReadyToSend()"
                disabled>Zapisz
        </button>
<!--        EDIT Buttons =============================-->

      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Imię ojca</th>
    <th>Miejsce urodzenia</th>
    <th>Kraj urodzenia</th>
    <th>Obywatelstwo</th>
    <th>Email</th>

    <th></th>

  </tr>
  </thead>
  <tr *ngFor="let record of studentsList">
    <th>{{record.id}}</th>
    <td>{{record.name}}</td>
    <td>{{record.surname}}</td>
    <td>{{record.fatherName}}</td>
    <td>{{record.placeOfBirth}}</td>
    <td>{{record.countryOfBirth}}</td>
    <td>{{record.nationality}}</td>
    <td>{{record.email}}</td>

    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="prepareEditStudent(record)"> Edytuj
      </button>
    </td>

  </tr>
</table>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Dodaj studenta
</button>
