
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj typ studenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="container-fluid">
            <div class="row">

              <div class="col-sm">
                    <div class="form-group">
                        <label for="monthlyPaymentInputField">Wysokość stypendium</label>
                        <input type="number" class="form-control" id="monthlyPaymentInputField" name="monthlyPaymentInputField"
                               placeholder="Wysokość stypendium" [(ngModel)]="studentType.monthlyPayment">
                        <!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
              </div>
            </div>
            <!--            =====================================================================================-->

            <div class="row">

              <div class="col-sm">
                <div class="form-group">
                  <label for="descriptionInputField">Opis</label>
                  <input type="text" class="form-control" id="descriptionInputField" name="descriptionInputField"
                         placeholder="Opis" [(ngModel)]="studentType.description">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="alert alert-primary" role="alert" *ngIf="!studentTypeEntityReadyToSend()">
                  Wypełnij wszystkie pola
                </div>
              </div>
            </div>

            </div>
            <!--            =====================================================================================-->



        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="submit" class="btn btn-primary" *ngIf="studentTypeEntityReadyToSend() && !this.edit" (click)="addNewStudentType()"> Dodaj nowy typ studenta</button>
        <button type="submit" class="btn btn-primary" *ngIf="!studentTypeEntityReadyToSend()&& !this.edit" disabled>Dodaj nowy typ studenta</button>
        <!--        EDIT Buttons =============================-->
        <button type="button" class="btn btn-primary" *ngIf="this.edit && studentTypeEntityReadyToSend()" (click)="editStudentType()" data-dismiss="modal">Zapisz
        </button>
        <button type="button" class="btn btn-primary" *ngIf="this.edit && !studentTypeEntityReadyToSend()"
                disabled>Zapisz
        </button>
        <!--        EDIT Buttons =============================-->
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Miesięczna opłata</th>
    <th>Opis</th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let record of studentTypeList">
    <td>{{record.id}}</td>
    <td>{{record.monthlyPayment}}</td>
    <td>{{record.description}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="prepareEditStudentType(record)"> Edytuj
      </button>
    </td>
  </tr>
</table>
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Dodaj nowy typ studenta

</button>
